@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  /* --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16; */

  /* --color-neutral-50: #0D0D0D;
  --color-neutral-100: #0D0D0D;
  --color-neutral-200: #0D0D0D;
  --color-neutral-300: #0D0D0D;
  --color-neutral-400: #0D0D0D;
  --color-neutral-500: #0D0D0D;
  --color-neutral-600: #0D0D0D;
  --color-neutral-700: #0D0D0D;
  --color-neutral-800: #0D0D0D;
  --color-neutral-900: #0D0D0D;
  --color-neutral-950: #0D0D0D; */
}
